@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.experience {
  animation: fade 1.5s;
}

.content{
  display: flex;
}

.about {
  padding: 0 10% 3% 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
}

.about h1 {
  margin: 3% auto;
}

.container {
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about .container.offset {
  margin: 1% 18%;
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.about h2, .projects h2 {
  color: darkslategray;
  padding-left: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: underline;
  font-family: 'Josefin Sans', sans-serif;
}

/*Circle Links*/
.circle {
  position: relative;
  border-radius: 50%;
  width: 120px;
  min-height: 120px;
  margin: 0px 50px 10px 50px;
  background-color: #A6C8E3;
}

.circle p {
 position: absolute;
 top: 32px;
 left: 0;
 width: 100%;
 color: white;
 font-size: 110%;
 letter-spacing: 1.2px;
 font-weight: lighter;
 font-weight: normal;
 text-shadow: 1px 1px slategrey;
}


.circle:hover{
  box-shadow: 0px 0px 20px white;
  cursor: pointer;
}

/*More Info*/
.more-info{
  margin-top: 5%;
}

/*Center Content*/
#film, #law, #webdev, #personal-about, #resume {
  line-height: 1.6;
  margin: 15px auto;
  min-height: 15em;
  width:80%;
  animation: fade 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30em;
}

.skillset{
  font-weight: lighter;
}

#resume{
  color: darkslategray;
  display: block;
}

#resume a{
  color: darkslategray;
  text-decoration: none;
}

#resume i{
  width: 100%;
  margin-bottom: 1%;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){

    .projects{
      width: 100%;
    }

    .popup-row{
      width: 100%;
    }

    .circle{
      width: 100px;
      min-height: 100px;
      margin: 1em 0;
    }

    .circle p{
      top: 23px;
    }

    footer a{
      font-size: 70%;
    }

    footer li{
      padding: 5px;
    }
}

/*Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .about{
    min-height: 110vh;
    padding: 0;
  }

  .circle{
    margin: 10px 25px;
  }
}

/*Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px){

    .about{
      min-height: 150vh;
    }

    .flex-row.experience .container{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
}

/*Small Phones*/
@media only screen
  and (max-device-width: 320px){
    .about{
      min-height: 170vh;
      padding: 0;
    }
    .container{
      justify-content: center;
    }
  }
