@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.experience {
  margin: 4% 0;
}

.about {
  padding: 10% 10% 0% 10%;
}

.about h1 {
  margin: 3% auto;
}

.container {
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  margin: 0 6%;
  flex-wrap: wrap;
}

.container.offset {
  margin: 1% 18%;
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.about h2, .projects h2 {
  color: darkslategray;
  padding-left: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: underline;
  font-family: 'Josefin Sans', sans-serif;
}

/*Circle Links*/
.circle {
  position: relative;
  border-radius: 50%;
  width: 120px;
  min-height: 120px;
  margin: 0px 50px;
  background-color: darkslategray;
}

.circle a {
 position: absolute;
 top: 50px;
 left: 0;
 width: 100%;
 color: #F5F1ED;
 font-size: 110%;
 text-decoration: none;
 letter-spacing: 1.2px;
}

.about a:hover {
  text-decoration: underline;
}

.circle:hover{
  box-shadow: 0px 0px 20px white;
}

/*More Info*/
.more-info{
  margin-top: 5%;
}

/*Center Content*/
#film, #law, #webdev, #personal-about {
  line-height: 1.6;
  margin: 2% auto;
  width:60%;
  animation: fade 1.5s;
}

#resume{
  top: 0;
  position: absolute;
  z-index: 1;
  width: 170vh;
  height: 100vh;
  background: black;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
