.contact{
  margin: 13% 0 0 0;
}

form {
  margin: 0 auto;
  width: 30%;
}

form input, form textarea {
  display: block;
  width: 70%;
  border: darkslategray solid 2px;
  padding: 10px;
  margin: 10px auto;
  font-size: 100%;
}


.button {
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  font-size: 100%;
  background-color: darkslategray;
}

.button:hover {
  box-shadow: 0px 0px 20px white;
}
