.contact{
  margin: 15% 0 0 0;
  animation: fade 1.5s;
  display: flex;
}

p{
  color: darkslategray;
  font-weight: bolder;
}

form {
  margin-left: 18%;
  width: 50%;
  display: flex
}

form input, form textarea {
  display: block;
  border: darkslategray solid 2px;
  padding: 10px;
  margin: 10px auto;
  font-size: 100%;
}

form textarea{
  width: 50%;
}


.button {
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  font-size: 100%;
  background-color: darkslategray;
  margin-top: 40%;
}

.button:hover {
  box-shadow: 0px 0px 20px white;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
