.contact{
  margin: 15% 0 0 0;
  animation: fade 1.5s;
  display: flex;
}

p{
  color: darkslategray;
  font-weight: bolder;
}

form {
  margin-left: 18%;
  width: 50%;
  display: flex
}

form input, form textarea {
  display: block;
  border: darkslategray solid 2px;
  padding: 10px;
  margin: 10px auto;
  font-size: 100%;
}

form textarea{
  width: 50%;
}


.button {
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  font-size: 100%;
  background-color: darkslategray;
  margin-top: 40%;
}

.button:hover {
  box-shadow: 0px 0px 20px white;
  cursor: pointer;
}

form .mobile-button{
  display:none;
}

#contact-title{
  display: none;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .contact{
      margin-top: 25%;
    }

    form{
      margin-left: 6%;
      width: 70%;
    }
}


/*Large Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px)
and (-webkit-device-pixel-ratio: 2) {

  .contact {
    margin: 30% 0 0 0;
  }

  form{
    display: block;
    margin: 5% auto;
  }

  form textarea{
    width: 90%;
  }

  .contact div p {
    display: none;
  }

  .mobile-button{
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 100%;
    background-color: darkslategray;
    margin-top: 10%;
    display: block;
  }

  .button{
    display: none;
  }

  #contact-title{
    display: block;
    font-size: 130%;
  }
}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px)
  and (-webkit-min-device-pixel-ratio: 2) {

  form{
    width:80%;
  }
}
