.contact{
  animation: fade 1.5s;
  padding: 0 10% 3% 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
}

p{
  color: darkslategray;
  font-weight: bolder;
}

form {
  margin: 30px 100px 30px 60px;
  max-width: 100%;
  display: flex;
}

form input, form textarea {
  display: block;
  border: darkslategray solid 2px;
  padding: 10px;
  margin: 10px auto;
  font-size: 100%;
}

form textarea{
  width: 50%;
}


.button {
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  font-size: 100%;
  background-color: darkslategray;
  margin-top: 40%;
}

.button:hover {
  box-shadow: 0px 0px 20px white;
  cursor: pointer;
}

form .mobile-button{
  display:none;
}

#contact-title{
  display: none;
}

.confirmation{
  border: 1px solid darkslategray;
  background: white;
  padding: 1em;
  width: 10em;
  box-shadow: 2px 3px 1px 1px darkslategray;
  margin: 0 auto;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){

    .confirmation{
      left: 20em;
      top: 8em;
    }

    form{
      margin: 30px 30px 30px 40px;
    }

    .contact{
      padding: 0;
    }
}


/*Large Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  #send{
    display: none;
  }

  form{
    flex-direction: column;
    margin: 30px auto;
  }

  form textarea{
    width: 90%;
  }

  .contact div p {
    display: none;
  }

  .mobile-button{
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 100%;
    background-color: darkslategray;
    margin-top: 10%;
    display: block;
  }

  .contact{
    padding: 0;
  }

  .button{
    display: none;
  }

  #contact-title{
    display: block;
    font-size: 130%;
  }

  form .mobile-button{
    display: block;
  }

}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px){

  form{
    width:80%;
    margin: 30px auto;
  }

  form .mobile-button{
    display: block;
  }

  .contact{
    padding: 0;
  }


}
