.contact{
  margin: 15% 0 0 0;
  animation: fade 1.5s;
  display: flex;
}

p{
  color: darkslategray;
  font-weight: bolder;
}

form {
  margin-left: 18%;
  width: 50%;
  display: flex
}

form input, form textarea {
  display: block;
  border: darkslategray solid 2px;
  padding: 10px;
  margin: 10px auto;
  font-size: 100%;
}

form textarea{
  width: 50%;
}


.button {
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  font-size: 100%;
  background-color: darkslategray;
  margin-top: 40%;
}

.button:hover {
  box-shadow: 0px 0px 20px white;
  cursor: pointer;
}

form .mobile-button{
  display:none;
}

#contact-title{
  display: none;
}

.confirmation{
  border: 1px solid darkslategray;
  padding: 1em;
  width: 10em;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 39em;
  top: 9em;
  box-shadow: 1px 1px 1px 1px darkslategray;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){

    .contact{
      margin-top: 25%;
    }

    form{
      margin-left: 6%;
      width: 70%;
    }

    .confirmation{
      left: 20em;
      top: 8em;
    }
}


/*Large Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .contact {
    margin: 30% 0 0 0;
  }

  form{
    display: block;
    margin: 5% auto;
  }

  form textarea{
    width: 90%;
  }

  .contact div p {
    display: none;
  }

  .mobile-button{
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 100%;
    background-color: darkslategray;
    margin-top: 10%;
    display: block;
  }

  .button{
    display: none;
  }

  #contact-title{
    display: block;
    font-size: 130%;
  }

  form .mobile-button{
    display: block;
  }

  .confirmation {
    left: 7.5em;
    top: 7em;
    border: none;
    box-shadow: 0 0;
    text-decoration: underline;
  }
}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px){

  form{
    width:80%;
  }

  form .mobile-button{
    display: block;
  }

  .confirmation {
    left: 4em;
    top: 5.5em;
    border: none;
    box-shadow: 0 0;
    text-decoration: underline;
  }

}
