.ginnypics{
  margin: 15% 0 0 0;
  animation: fade 1.5s;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img{
  max-height:250px;
  max-width:300px;
  border: 2px solid darkslategray;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){

    .ginnypics{
      margin: 20% 0 0 0;
    }

    .img{
      max-height: 150px;
      max-width: 200px;
    }
}

/*Larger Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .ginnypics {
    margin: 30% 0 0 0;
  }

  img {
    margin: 5%;
  }
}
