footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 25vh;
}

footer h5, footer a{
  color: darkslategray;
}


footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: center;
}

footer li {
  margin: 5% 1% 0 1%;
  padding: 10px;
  border-radius: 50%;
  background-color: #FFF5B0;
}

footer li:hover{
  box-shadow: 0px 0px 20px white;
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {

    footer{
      position: relative;
    }
}

/*Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px) {

  footer{
    position: relative;
    padding-top: 2em;
  }

}
