/* Nav Bar and Header */
header{
  background-color: #FFF5B0;
  display:flex;
  flex-direction: row;
  margin-left: -1%;
  margin-top: -1%;
  width: 100vw;
  padding: .5em 1em .5em .5em;
  z-index: 1;
}

#header-row{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.my-logo {
  margin: 15px 40px;
  width:50%;
}

.my-logo img {
  float: left;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 5px solid darkslategray;
}


nav ul {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-right: 10px;
}

.navigation-link {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 1vw;
  display: flex;
  padding:15px;
  background-color: darkslategray;
}

.navigation-link a {
  text-decoration: none;
  color: #E1E1E6;
  margin: 30% auto;
  font-size: 90%;
}

.navigation-link a:hover, .selected {
  text-shadow: 0px 0px 6px white;
}

.active {
  text-shadow: 0px 0px 6px white;
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {


}

/*Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .my-logo{
    display:none;
  }

  .navigation-link{
    height: 40px;
    width: 40px;
  }

  .navigation-link a{
    margin: 25% auto;
    font-size: 85%;
  }

  header{
    margin-left: -2%;
  }

  nav ul{
    padding-left: 0;
  }

  .tabs {
    margin: 0 auto;
  }

  ul li:nth-child(3n) a, ul li:nth-child(5n) a{
    margin-left: -5px;
  }


}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px){

  header{
    margin-top: -3%;
    margin-left: -3%;
  }

  nav ul{
    padding: 0;
  }

  .navigation-link{
    height: 30px;
    width: 30px;
    padding: 13px;
  }


  .navigation-link a{
    font-size: 70%;
  }

  ul li:nth-child(3n) a, ul li:nth-child(5n) a{
    margin-left: -5px;
  }

}
