/* Nav Bar and Header */
header{
  background-color: #FFF5B0;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 7em;
  z-index: 1;
  top: 0;
  right: 0;
}

.my-logo {
  width:40%;
}

.my-logo img {
  float: left;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 1em 4em;
  border: 5px solid darkslategray;
}

.tabs{
  width:45%;
  padding-left: 10em;
}

nav ul {
  display: flex;
  float: right;
}

.navigation-link {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 1vw;
  display: flex;
  padding:15px;
  background-color: darkslategray;
}

.navigation-link a {
  text-decoration: none;
  color: #E1E1E6;
  margin: 30% auto;
  font-size: 90%;
}

.navigation-link a:hover, .selected {
  text-shadow: 0px 0px 6px white;
}

.active {
  text-shadow: 0px 0px 6px white;
}

/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {

    .tabs{
      width:45%;
      padding-left: 5em;
    }
}

/*Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .my-logo{
    display:none;
  }

  .navigation-link{
    height: 40px;
    width: 40px;
  }

  .navigation-link a{
    margin: 25% auto;
    font-size: 85%;
  }

  .tabs {
    width: 90%;
    padding-left: 2em;
  }
}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px){

  .navigation-link{
    height: 30px;
    width: 30px;
    padding: 13px;
  }

  .tabs{
    padding-left: 10em;
    width:50%;
  }

  .navigation-link a{
    font-size: 70%;
  }

  header{
    height: 6em;
  }

}
