
/**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/

@import url("https://fonts.googleapis.com/css?family=League+Script");
/*animations*/
@keyframes walkleft {
  0% { transform: translateY(60px) translateX(10px) rotate(10deg); }
  10% { transform: translateY(60px) translateX(10px) rotate(-5deg); }
  20% { transform: translateY(60px) translateX(10px)}
  30% { transform: translateY(60px) translateX(10px)}
  40% { transform: translateY(60px) translateX(10px) rotate(10deg); }
  50% { transform: translateY(60px) translateX(10px) rotate(-5deg); }
  60% { transform: translateY(60px) translateX(10px)}
  70% { transform: translateY(60px) translateX(10px)}
  80% { transform: translateY(60px) translateX(10px) rotate(10deg); }
  100% { transform: translateY(60px) translateX(10px) rotate(-5deg); }
  }
@keyframes walkright {
  0% { transform: translateY(60px) translateX(45px) rotate(10deg); }
  10% { transform: translateY(60px) translateX(45px) rotate(-5deg); }
  20% { transform: translateY(60px) translateX(45px)}
  30% { transform: translateY(60px) translateX(45px)}
  40% { transform: translateY(60px) translateX(45px) rotate(10deg); }
  50% { transform: translateY(60px) translateX(45px) rotate(-5deg); }
  60% { transform: translateY(60px) translateX(45px)}
  70% { transform: translateY(60px) translateX(45px)}
  80% { transform: translateY(60px) translateX(45px) rotate(10deg); }
  100% { transform: translateY(60px) translateX(45px) rotate(-5deg); }
}

@keyframes pandago {
  0% { transform: translateY(210px) translateX(1080px); }
  10% { transform: translateY(210px) translateX(1080px); }
  20% { transform: translateY(210px) translateX(580px); }
  30% { transform: translateY(210px) translateX(580px); }
  40% { transform: translateY(210px) translateX(110px);
        -webkit-backface-visibility: visible;
       }
  50% { transform: translateY(210px) translateX(110px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  60% { transform: translateY(210px) translateX(580px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  70% { transform: translateY(210px) translateX(580px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  80% { transform: translateY(210px) translateX(1080px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  100% { transform: translateY(210px) translateX(1080px) rotateY(180deg); }
  }

@keyframes flip {
  0% { transform: translateY(210px) translateX(1080px); }
  10% { transform: translateY(210px) translateX(1080px); }
  20% { transform: translateY(210px) translateX(580px); }
  30% { transform: translateY(210px) translateX(580px); }
  40% { transform: translateY(210px) translateX(110px);}
  50% { transform: translateY(210px) translateX(110px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  60% { transform: translateY(210px) translateX(580px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  70% { transform: translateY(210px) translateX(580px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  80% { transform: translateY(210px) translateX(1080px) rotateY(180deg);
        -webkit-backface-visibility: visible;
      }
  100% { transform: translateY(210px) translateX(1080px) rotateY(180deg); }
}


/*panda*/
#panda {
  position: absolute;
  transform: translateY(210px) translateX(1080px);
  animation: pandago 20s infinite alternate;
  animation: flip 20s infinite;
  }
  #hat{
    width: 58px;
    height: 38px;
    border: 1px solid gray;
    background: #FEE101;
    position: absolute;
    border-radius: 50% 50% 20% 20%;
    transform: translateY(-88px)  translateX(12px) rotate(-10deg);
    z-index: 3;
  }


  #hatbrim{
    width: 48px;
    height: 18px;
    border: 1px solid gray;
    background: #FEE101;
    position: absolute;
    border-radius: 40% 40% 40% 40%;
    transform: translateY(-59px)  translateX(5px) rotate(-10deg);
    z-index: 3;
  }

#head {
  width: 78px;
  height: 78px;
  background: white;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-67px) translateX(7px);
  z-index: 2;
  }

#left-ear, #right-ear, #right-eye-outer, #left-eye-outer {
  width: 22px;
  height: 19px;
  border-radius: 50% 55% 35% 35%;
  background: #261d14;
  position: absolute;
  transform: rotate(-20deg);
}

    #right-ear {
      transform: translateX(54px) rotate(35deg);
    }

    #right-eye-outer {
      border-radius: 50% 55% 35% 35%;
      transform: translateX(40px) translateY(30px) rotate(35deg);
    }

    #left-eye-outer {
      border-radius: 50% 55% 35% 35%;
      transform: translateX(5px) translateY(30px) rotate(-35deg);
    }

    #nose {
    width: 10px;
    height: 10px;
    background: #261d14;
    position: absolute;
    border-radius: 50%;
    transform: translateX(25px) translateY(55px);
    }

    #body, #inner-body {
      width: 80px;
      height: 85px;
      background: #261d14;
      position: absolute;
      border-radius: 50%;
    }

    #inner-body {
      width: 50px;
      height: 60px;
      background: white;
      transform: translateY(10px) translateX(5px);
      z-index: 1;
    }

    #left-arm, #right-arm, #right-leg {
      width: 30px;
      height: 50px;
      background: #261d14;
      position: fixed;
      border-radius: 55% 55% 55% 55% / 50% 60% 50% 50%;
      transform: translateY(-8px) translateX(-8px) rotate(-35deg);
    }

    #left-arm{
      animation: liftarm 1s infinite alternate;
    }

    @keyframes liftarm{
      from {transform:translateY(-6px) translateX(-8px) rotate(-35deg);}
      to {transform: translateY(-8px) translateX(-8px) rotate(-35deg);}
    }

    #right-arm {
      transform: translateY(20px) translateX(40px) rotate(-140deg);
      z-index: 2;
      animation: swing 1s infinite alternate;
    }

    @keyframes swing{
      from {transform: translateY(20px) translateX(40px) rotate(-130deg);}
      to {transform: translateY(20px) translateX(40px) rotate(-180deg);}
    }

    #left-leg {
      width: 30px;
      height: 50px;
      background: #261d14;
      position: absolute;
      border-radius: 55% 55% 55% 55% / 50% 60% 50% 50%;
      animation: walkleft 15s infinite ;
    }

    #right-leg {
      animation: walkright 15.5s infinite;
    }

    /*sign*/

    #sign, #signpost {
      width: 150px;
      height: 70px;
      box-shadow: 2px 2px 2px 2px lightgray;
      background: white;
      position: absolute;
      transform: translateY(-120px) translateX(-105px) rotate(-10deg);
      z-index: -1;
    }

    #sign{
      animation: liftsign 1s infinite alternate;
    }

    @keyframes liftsign{
      from {transform:translateY(-118px) translateX(-105px) rotate(-10deg);}
      to {transform: translateY(-120px) translateX(-105px) rotate(-10deg);}
    }


    #sign p {
      margin-left: 5px;
      margin-top: 20px;
      font-family: 'League Script', cursive;
      font-weight: bolder;
      font-size: 20px;
    }


    #signpost {
      width: 10px;
      height: 80px;
      transform: translateY(-65px) translateX(-20px) rotate(-15deg);
      z-index: -2;
      animation: liftsignpost 1s infinite alternate;
  }

  @keyframes liftsignpost{
    from {transform:translateY(-63px) translateX(-20px) rotate(-15deg);}
    to {transform: translateY(-65px) translateX(-20px) rotate(-15deg);}
  }

  #welcome-text{
    display:none;
  }

  /*Tablets*/
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1023px)
    and (-webkit-min-device-pixel-ratio: 1) {

      #welcome-container{
        margin-top: 25%;
      }

      #panda {
        display:none;
      }

      #welcome-text{
        font-family: 'League Script', cursive;
        animation: fade 1s;
        display: block;
        margin: 35% 0 0 0;
        font-size: 500%;
        transform: rotate(-8deg);
      }
  }

  /*animations*/
  @keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  /*Phones*/
  @media screen
  and (min-device-width: 320px)
  and (max-device-width: 425px){

    .home{
      padding-bottom: 0;
    }

    #welcome-container{
      margin-top: 25%;
    }

    #panda {
      display:none;
    }

    #welcome-text{
      font-family: 'League Script', cursive;
      animation: fade 1s;
      display: block;
      margin: 55% 0 0 0;
      font-size: 500%;
      transform: rotate(-8deg);
    }
}


/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px){

  .home{
    width: 100%;
  }

  #welcome-text{
    margin: 85% 0 0 0;
    font-size: 400%;
  }
}
