@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.projects {
  margin: 10% 0 0 0;
  animation: fade 1.5s;
}

.container {
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  margin: 0 6%;
  flex-wrap: wrap;
}

.container.offset {
  margin: 1% 18%;
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

/*Circle Links*/
.image-link img{
   position: relative;
   width: 100%; /* for IE 6 */
   border-radius: 50%;
   width: 150px;
   min-height:150px;
   margin: 10px 20px;
}

.image-link img {
  background: white;
  border: 5px solid darkslategray;
}

.image-link img:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 20px white;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
