@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.projects {
  margin: 10% 0 0 0;
  /*animation: fade 1.5s;*/
}

.projects .flex-row{
  animation: fade 1.5s;
}

.container {
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  margin: 0 6%;
  flex-wrap: wrap;
}

.container.offset {
  margin: 1% 18%;
  flex-direction: row;
  display: inherit;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

/*Circle Links*/
.image-link img{
   position: relative;
   width: 100%; /* for IE 6 */
   border-radius: 50%;
   width: 150px;
   height:150px;
   margin: 10px 20px;
}

.image-link img {
  background: white;
  border: 5px solid darkslategray;
}

.image-link img:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 20px white;
}

/*animations*/
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Popups*/
.popup{
  display: block;
  height: 400px;
  width: 400px;
  margin-left: 34%;
  position: fixed;
  border-radius: 50%;
	background: rgba(0,0,0,0.9);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
};

.popup > .popup-inner{
  margin-top: 20%;
}

.popup-inner img{
  width: 250px;
}

.popup-inner h3{
  color: white;
}

.popup-inner p{
  color: white;
  font-weight: lighter;
  margin-left: 10%;
  margin-right: 10%;
}

.popup-inner a{
  color: white;
  text-decoration: none;
  margin: 4%;
}

.popup-inner a:hover{
  text-decoration: underline;
}

.close:hover{
  text-decoration: underline;
}

.opaque{
  opacity: 0.4;
}
/*Tablets*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){

    .projects{
      margin-top: 15%;
    }

    .image-link img{
      width: 110px;
      height: 110px;
      margin: 20px 20px;
    }
}

/*Larger Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .projects{
    margin: 30% 0 0 0;
  }

  .image-link img{
    margin: 10px 0px;
  }

  .container.offset{
    margin: 0 6%;
  }
}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px) {

  .projects{
    margin: 40% 20%;
  }
}
