/*Popups*/
.popup-row{
  width: 90%;
  position: absolute;
  display: flex;
  z-index: 2;
  justify-content: center;
}

.popup-inner img {
  max-width: 250px;
  max-height: 150px;
}


.popup{
  display: block;
  height: 400px;
  width: 400px;
  border-radius: 50%;
	background: rgba(47,79,79,0.95);
	z-index: 2;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
};

/*react is not recognizing this style, inline style is being used for now*/
div.popup-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}


.popup-inner h3{
  color: white;
}

.popup-inner p{
  color: white;
  font-weight: lighter;
  margin-left: 10%;
  margin-right: 10%;
}

.popup-inner a{
  color: white;
  text-decoration: none;
  margin: 10px;
}

.popup-inner a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.close:hover{
  text-decoration: underline;
  cursor: pointer;
}

.opaque{
  opacity: 0.4;
}

#phone-img{
  width: 100px;
  height: 150px;
}

/*Larger Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){
  .popup-row{
    top: 140px;
  }

  .popup-inner img {
    width: 150px;
    height: 100px;
  }

}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px) {
    .popup-row{
      top: 125px;
    }

    .popup{
      border-radius: 25%;
      height: 420px;
      width: 300px;
    }

    .popup-inner img {
      width: 150px;
      height: 100px;
    }

    .popup > .popup-inner{
      width: 80%;
      margin: 0 auto;
    }

}
