body{
  background-color: #91C0BF;
  color: darkslategray;
  font-family: 'Roboto', sans-serif;
}

main{
  margin-top: 3em;
  margin-left: 2em;
}

i {
  color: darkslategray;
}

.left-box{
  font-size: 18px;
}

.left-box{
  float: left;
  margin: 2em 0;
  height: 70em;
  width: 20em;
  background-color: #FFF5B0;
  border: 4px solid darkslategray;
}
.right-box{
  display: inline;
  height: 60em;
  width: 45em;
  margin-top: 4em;
  margin-left: 1em;
  float: right;
  position: absolute;
}

h1{
  margin: 1.5em 0 1em;
  text-align: center;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: .2em;
}

h3{
  text-align: center;
  font-weight: lighter;
  line-height: .2;
  font-size: 24px;
}

.profile, .contact-container, .skills{
  margin-top: 5em;
}

.experience, .education, .projects{
  margin-top: 2.5em;
}

.left-box h2{
  text-align: center;
  margin: 0em 1em 0 1em;
}

.left-box p {
  margin: 1em 2em 0 3em
}

.experience i {
  margin-left: 4.5em;
}

.projects i {
  margin-left: 4.5em;
}

.education i{
  margin-left: 4.5em;
  margin-top: 0.3em;
}

/*CONTACT*/
.contact{
  margin-left: 3em;
  margin-top: 2em;
}

}
.contact a{
  text-decoration: none;
  color: darkslategray;
}

.contact p{
  margin: 0 0 0 1em;
  display: inline;
  color: darkslategray;
  text-decoration: none;
}

.contact p:hover{
  text-decoration: underline;
}

/*EXPERIENCE AND SCHOOL SECTION*/
.right-box h2{
  color: darkslategray;
  margin-left: 1em;
  display: inline-block;
}

/*Experience*/


.job{
  padding-bottom: 0.1em;
  margin-left: 2em;
  margin-right:2em;
}

.job p{
  line-height: 0.2;
}

.job h4 span{
  float: right;
}

.job h4 span, .job ul {
  margin-right: 4em;
  margin-left: 1em;
}

/*Skills*/
.skills i{
  margin: 0 1em;
  display: inline;
}

.skill-icons{
  margin-top: 1em;
  margin-left: 2em;
}

.inset{
  margin-left:3em;
}

.skill-icons i{
  font-size: 140%;
  background: darkslategray;
  color: #FFF5B0;
  border-radius: 50%;
  padding: 2%;
  margin: 0 0.2em;
}

/*Projects*/
.project{
  flex:2;
  margin-left:2em;
}

.project-container{
  display:flex;
}

/*Education*/
.school{
  font-weight: bold;
  margin-left: 3em;
  margin-right: 6em;
}

.school-descrip{
  display:inline;
  font-weight: normal;
  float: right;
}

/*Footer*/
.resume-tag{
  margin: 6em 2em;
}

/*Print Button*/
.print-button{
  margin-left: 2em;
  color: darkslategray;
  text-decoration: none;
  padding: 4px;
  background: #FFF5B0;
  border: 1px solid darkslategray;
}

.print-button:hover{
  text-decoration: underline;
}
