body {
  background-color: #C2AAB7;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

section {
  padding-bottom: 5%;
}

.home{
  margin: 15% auto;
  width: 60%;
}

.button {
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: 2px solid white;
  font-size: 100%;
  background-color: rgba(7, 3, 100, 0.8);
  margin-top: 20px;
}

.button:hover {
  text-decoration: underline;
  background-color: rgba(7, 3, 100, 1);
}

h1 {
  color: #070364;
  max-width: 20%;
  border: 2px solid #070364;
  margin: 5% auto;
  padding: 2%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4vw;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  width: 50%;
  margin: 0;
}

/*Colors*/
.grey {
  background: #E1E1E6;
}

.cream {
  background: #F5F1ED;
}

/* Nav Bar and Header */
header{
  background-color: #EBEBCA;
  flex-direction: row;
  position: fixed;
  width: 95%;
  z-index: 1;
  top: 0;
  left: 3%;
}

.my-logo {
  margin-right: 40%;
}

.my-logo img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 20px 30px;
  border: 5px solid #747A6D;
}

#menu-icon, #menu-icon i {
  display: none;
}

nav ul {
  display: flex;
  padding: 10px;
}

.navigation-link {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 1vw;
  display: flex;
  padding:15px;
  background-color: #747A6D;
}

.navigation-link a {
  text-decoration: none;
  color: #E1E1E6;
  margin: 30% auto;
  font-size: 90%;
}

.navigation-link a:hover, .selected {
  text-decoration: underline;
}
