
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  height: 100%;
}

.big-container {
  flex: 1;
}

body {
  background-color: #C2AAB7;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding-bottom: 2%;
}


/*h1 {
  color: #070364;
  max-width: 25%;
  border: 2px solid #070364;
  margin: 5% auto;
  padding: 2%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3vw;
}*/

.flex-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  width: 50%;
  margin: 0;
}
